<h1 mat-dialog-title>新增項目</h1>
<div mat-dialog-content>
  <mat-form-field appearance="outline">
    <mat-label>項目名稱</mat-label>
    <input matInput [(ngModel)]="item.name" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>金額</mat-label>
    <input matInput type="number" [(ngModel)]="item.amount" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>幣別</mat-label>
    <mat-select [(ngModel)]="item.selectedCurrency">
      <mat-option value="TWD">台幣</mat-option>
      <mat-option value="JPY">日圓</mat-option>
      <mat-option value="USD">美金</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">取消</button>
  <button mat-button (click)="onSave()">儲存</button>
</div>
